@import '../../../styles/mixins/global.scss';

.all-client-section-content-alignment {
    background: #F7F7F7;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    margin-top: -60px;
    padding: 150px 0 98px;

    @include breakpoint("max-sm") {
        padding: 102px 0 76px 0;
        margin-top: -40px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 289px;
        align-items: center;
        grid-gap: 90px;
        gap: 90px;

        @include breakpoint("max-md") {
            grid-template-columns: 1fr 200px;
            gap: 40px;
        }

        @include breakpoint("max-sm") {
            gap: 35px;
            grid-template-columns: repeat(1, 1fr);
        }

        .grid-items:nth-child(1) {
            @include breakpoint("max-sm") {
                order: 2;
            }
        }

        .grid-items {
            h6 {
                font-weight: 500;
                font-size: 22px;
                line-height: 60px;
                color: #2e2e2e;
                font-family: "VisbyCF-Medium";
                margin: 0 0 22px 0;

                @include breakpoint("max-md") {
                    font-size: 14px;
                    line-height: 22px;
                }

                @include breakpoint("max-sm") {
                    font-size: 14px;
                    line-height: 20px;
                    max-width: 315px;
                    margin: 10px auto 10px auto;
                    text-align: center;
                }

                span {
                    font-family: "VisbyBold";
                    font-weight: 600;
                }

            }

            .button-design {
                @include breakpoint("max-sm") {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                button {
                    border: none;
                    color: #fff;
                    padding: 12px 37px;
                    background: #9DBC78;
                    font-size: 18px;
                    line-height: 18px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    cursor: pointer;
                    height: 70px;

                    @include breakpoint("max-sm") {
                        padding: 12px 11px;
                        height: auto;
                        font-size: 16px;
                        line-height: 16px;
                    }

                    span {
                        font-size: 14px;
                        line-height: 16px;
                        font-weight: 400;

                        @include breakpoint("max-sm") {
                            font-size: 12px;
                        }
                    }
                }
            }

            h1 {
                position: relative;
                font-style: italic;
                font-weight: 400;
                color: #2E2E2E;
                font-size: 32px;

                line-height: 43px;
                padding-left: 40px;

                @include breakpoint("max-md") {
                    font-size: 19px;
                    line-height: 26px;
                }

                @include breakpoint("max-sm") {
                    text-align: center;
                    padding-left: 30px;
                }

                &::before {
                    position: absolute;
                    top: -5px;
                    left: 0;
                    content: "“";
                    font-family: "Montserrat", sans-serif;
                    font-size: 80px;
                    line-height: 43px;
                    color: #2e2e2e;

                    @include breakpoint("max-md") {
                        font-size: 40px;
                        line-height: 43px;
                    }
                }
            }

            .image-style {
                @include breakpoint("max-sm") {
                    display: flex;
                    justify-content: center;
                }

                img {
                    width: 289px;
                    height: 289px;
                    border-radius: 50%;

                    @include breakpoint("max-md") {
                        width: 200px;
                        height: 200px;
                    }

                    @include breakpoint("max-sm") {
                        width: 189px;
                        height: 189px;
                    }
                }
            }
        }
    }
}