@import '../../../styles/mixins/global.scss';

.vilen-dank-section-all-content-alignment {

    .box-center-alignment {
        .new-box {
            width: 427px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            position: relative;
            justify-content: space-between;

            @include breakpoint("max-sm") {
                display: block;
                width: 100%;
            }

            @include breakpoint("max-sm") {
                padding: 0 0 40px 0;
            }

            &::before {
                position: absolute;
                top: 60px;
                left: 0;
                height: 2px;
                width: calc(100% - 20px);
                background-color: #000000;
                content: "";

                @include breakpoint("max-sm") {
                    display: none;
                }
            }

            .box-items {
                width: 100px;
                position: relative;
                @include breakpoint("max-sm") {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-direction: column;
                }

                .line {
                    display: none;
                    height: 52px;
                    width: 2px;
                    margin: 8px 0;
                    background-color:  #000000;

                    @include breakpoint("max-sm") {
                        display: block;
                    }
                }

                p {
                    font-weight: 500;
                    font-size: 16px;
                    margin: 11px 0 0 0;
                    line-height: 19px;
                    text-align: center;
                    color: #000000;
                    font-family: 'Roboto', sans-serif;

                }

                .icon {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    border: 1px solid #464646;
                    cursor: pointer;
                    justify-content: center;
                }
            }
        }
    }

    .sec-title {
        padding: 0 0 30px 0;

        @include breakpoint("max-xl") {
            padding: 0 0 20px 0;
        }

        @include breakpoint("max-sm") {
            padding: 40px 0 14px 0;
        }

        h4 {
            font-weight: 700;
            margin: 0 0 2px 0;
            font-size: 32px;
            line-height: 50px;
            font-family: "VisbyBold";
            text-align: center;
            color: #000000;

            @include breakpoint("max-xl") {
                line-height: 35px;
            }

            @include breakpoint("max-sm") {
                font-weight: 600;
                font-size: 20px;
                margin: 0 0 14px 0;
                line-height: 24px;
            }
        }

        p {
            font-weight: 700;
            font-size: 20px;
            line-height: 31px;
            font-family: "VisbyBold";
            color: #000000;
            text-align: center;

            @include breakpoint("max-sm") {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
            }
        }
    }

    .section-title {
        padding: 0 0 20px 0;

        @include breakpoint("max-xl") {
            padding: 0;
        }

        h1 {
            font-weight: 700;
            font-size: 40px;
            line-height: 40px;
            text-align: center;
            color: #000000;
            margin: 0 0 30px 0;
            font-family: "VisbyBold";

            @include breakpoint("max-xl") {
                font-size: 32px;
                line-height: 32px;
                margin: 0 0 20px 0;
            }

            @include breakpoint("max-sm") {
                font-weight: 600;
                font-size: 16px;
                margin: 0 0 6px 0;
                line-height: 25px;
            }
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            font-family: "VisbyCF-Regular";
            text-align: center;
            margin: 0 0 20px 0;
            color: #5D5D5D;

            @include breakpoint("max-sm") {
                font-weight: 300;
                font-size: 10px;
                line-height: 14px;
                max-width: 315px;
                margin: 0 auto;
            }

        }
    }


}