body {
  font-family: 'Montserrat', sans-serif;
  background: #F8F9FB;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}